@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>


<link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/Content/css/flaticon.css" type="text/css">
<link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="~/Content/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
<script src="~/Content/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/jquery.magnific-popup.min.js"></script>
<script src="~/Content/js/masonry.pkgd.min.js"></script>
<script src="~/Content/js/jquery-ui.min.js"></script>
<script src="~/Content/js/jquery.nice-select.min.js"></script>
<script src="~/Content/js/jquery.slicknav.js"></script>
<script src="~/Content/js/owl.carousel.min.js"></script>
<script src="~/Content/js/main.js"></script>

<section class="with-medical"style="margin-bottom:10%">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img style="width:95%;height:95%" src="~/Content/Image/why.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-12 txtr">
                <h4>
                    Why choose Health Care with <br>
                    <span>Medical Hospital</span>
                </h4>
                <p>A healthy nation they say is a wealthy nation. Healthcare is important to the society because people get ill, accidents and emergencies do arise and the hospitals are needed to diagnose, treat and manage different types of ailments and diseases. Many of people’s aspirations and desires cannot be met without longer, healthier, happy lives. The healthcare industry is divided into several areas in order to meet the health needs of individuals and the population at large. All over the world, the healthcare industry would continue to thrive and grow as long as man exists hence forming an enormous part of any country’s economy.</p>
                <p>The World Health Organisation (WHO) defines health policy as decisions, plans, and actions that are undertaken to achieve specific health care goals within a society. The aim of health care policies is to define a vision for the future which in-turn helps to establish targets and points of reference for the short and medium term. It also outlines priorities and the expected roles of different groups; and it builds consensus and informs people.</p>
            </div>

        </div>
    </div>
</section>


<section class="testimonials spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Testimonials</span>
                    <h2>Happy clients</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testimonial__slider owl-carousel">
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Catanis Greimar</h5>
                                <span>Businesswoman</span>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                            vel facilisis ut labore et dolore magna aliqua accumsan lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Catanis Greimar</h5>
                                <span>Businesswoman</span>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                            vel facilisis ut labore et dolore magna aliqua accumsan lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Catanis Greimar</h5>
                                <span>Businesswoman</span>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                            vel facilisis ut labore et dolore magna aliqua accumsan lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Catanis Greimar</h5>
                                <span>Businesswoman</span>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                            vel facilisis ut labore et dolore magna aliqua accumsan lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Catanis Greimar</h5>
                                <span>Businesswoman</span>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                            vel facilisis ut labore et dolore magna aliqua accumsan lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Catanis Greimar</h5>
                                <span>Businesswoman</span>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                            vel facilisis ut labore et dolore magna aliqua accumsan lacus vel facilisis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team spad" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Our Team</span>
                    <h2>Our Expert Doctors</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/Content/img/team/team-1.jpg" alt="">
                    <h5>Caroline Grant</h5>
                    <span>Plastic surgeon</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/Content/img/team/team-2.jpg" alt="">
                    <h5>Dr. Maria Angel</h5>
                    <span>Plastic surgeon</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/Content/img/team/team-3.jpg" alt="">
                    <h5>Nathan Mullins</h5>
                    <span>Plastic surgeon</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

