@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>




<!--<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <ul>
                <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Contact Us</li>
            </ul>
        </div>
    </div>
</div>-->
<!-- ######## Page  Title End ####### -->

<div style="margin-top:0px;" class="row no-margin">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4552800136985!2d106.66436305002809!3d10.776399862104132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb1179e26b%3A0x2bae791220bcdbaf!2zNTc1IFPGsCBW4bqhbiBI4bqhbmgsIFBoxrDhu51uZyAxMiwgUXXhuq1uIDEwLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1620185633650!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</div>


<!-- Breadcrumb Section End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="contact__widget">
                    <div class="contact__widget__icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="contact__widget__text">
                        <h5>Address</h5>
                        <p>575 Su Van Hanh, Ward 13, District 10</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="contact__widget">
                    <div class="contact__widget__icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="contact__widget__text">
                        <h5>Hotline</h5>
                        <p>1900 555 553</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="contact__widget">
                    <div class="contact__widget__icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="contact__widget__text">
                        <h5>Email</h5>
                        <p>fangireking789@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact__content">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__pic">
                        <img src="~/Content/img/contact-pic.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <h3>Get in touch</h3>
                        <form action="#">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Phone">
                            <textarea placeholder="Message"></textarea>
                            <button type="submit" class="site-btn" style="width:50%">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ################# Footer Starts Here#######################--->
<!--<footer class="footer" style="background-color:gray;position:absolute;width:50%">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>About Us</h2>
                <p>
                    Smart Eye is a leading provider of information technology, consulting, and business process services. Our dedicated employees offer strategic insights, technological expertise and industry experience.
                </p>
                <p>We focus on technologies that promise to reduce costs, streamline processes and speed time-to-market, Backed by our strong quality processes and rich experience managing global... </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>Useful Links</h2>
                <ul class="list-unstyled link-list">
                    <li><a ui-sref="about" href="#/about">About us</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="portfolio" href="#/portfolio">Portfolio</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="products" href="#/products">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="gallery" href="#/gallery">Gallery</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="contact" href="#/contact">Contact us</a><i class="fa fa-angle-right"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 map-img">
                <h2>Contact Us</h2>
                <address class="md-margin-bottom-40">
                    BlueDart <br>
                    Marthandam (K.K District) <br>
                    Tamil Nadu, IND <br>
                    Phone: +91 9159669599 <br>
                    Email: <a href="mailto:info@anybiz.com" class="">info@bluedart.in</a><br>
                    Web: <a href="smart-eye.html" class="">www.bluedart.in</a>
                </address>

            </div>
        </div>
    </div>


</footer>-->


